.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	&__img{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	&__text{
		position:absolute;
		font-size: 18px;
		color: white;
		text-align: center;
		text-shadow: 0px 0px 1px #cecece;
	}
}