.main-menu{
  li{
    float: left;
    width: 20%;
    list-style-type: none;
    a{
      text-decoration: none;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      background: #d5543b;
      display: block;
      text-align: center;
      margin: 1px;
    }
  }
}
@media(max-width: 768px){
  li:nth-child(3){
    float: right;
    width: 33.3%; 
    a{
      padding: 31px 0;
    }
  }
  li:nth-child(4), li:nth-child(5){
    float: left;
    width: 33.3%;
    a{
      padding: 15px 0;
    }
  }
  li:nth-child(2), li:first-child{
    width: 33.3%;
    a{
      padding: 15px 0;
    }
  }
}
@media(min-width: 770px){
  li{
    a{
      padding: 35px 0;
    }
  }
  li:nth-child(3){
    a{
      padding: 26px;
      text-align: center;
    }
  }
}
@media(min-width: 640px){
  .main-menu{
    padding: 0px 20px
  }
}