.side-menu{
  .side-menu__title{
      font-size: 17px;
      color: #5b6166;
      font-style: normal;
  }
  .side-menu__content{
      font-size: 17px;
      color: #5b6166;
      font-style: normal;       
  }
  .side-menu__content li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .side-menu__content li:after{
    content: '';
    position: absolute;
    background: #ffffff;
    transform: rotate(51deg);   
    border: 1px solid white;
    border-top: 7px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    margin: -10px;
  }
  .side-menu__content li:before{
    content: '';
    position: absolute;
    background: #FC0000;
    width: 10px;
    height: 9px;
    transform: rotate(320deg); 
    margin: -10px;   
  }
}