.icon-row{
  display: flex;
  align-items: center;
}
.icon-row__text{
  font-size: 14px;
  color: #5d6166;
  text-transform: uppercase;
}
.icon-row__text a{
  text-decoration: none;
  color: #5d6166;
}
.icon-row__text span{
  text-decoration: underline;
}
.icon-row__text-clock,.icon-row__text-location{
  font-size: 14px;
  color: #5d6166;
}
.icon-row__icon{
  margin: 15px;
}
@include breakpoint(mobileonly){
  .icon-row__icon{
    display: none;
    }
  .icon-row__text a{
    text-decoration: underline;
  }
}