.title{
  font-family: Arial, Halvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin-bottom: 40px;
  &_grey{
    color: #5d6166;
    margin-bottom: 50px;
  }
  &_red{
    color: #d5543b;
    font-size: 26px;
    margin-bottom: 50px
  }
}