.about
	img.about__img(src="img/notary work.png",alt="Notary work")
	.about__text
		|Частный нотариус Москвы, работает в сфере юриспруденции с ХХХХ года, приказ о назначении №286-н от 10.10.2005, лицензия № 000000 от 00.00.05