.footer
	.wrapper
		.footer__title
			|ПОЛЕЗНЫЕ ССЫЛКИ
		.footer__article
			.footer__article-info
				div
					|Официальный сайт Управления Федеральной регистрационной службы по городу Москве:  
					a(href="#") www.to77.rosreestr.ru
				div
					|Официальный сайт Министерства Юстиции Российской Федерации: 
					a(href="#") www.minjust.ru
				div
					|Официальный сайт  Федеральной нотариальной палаты: 
					a(href="#") www.notariat.ru
				div
					|Официальный сайт Федеральной налоговой службы: 
					a(href="#") www.nalog.ru
			.footer__article-copyright
				.copyright__icon
				.copyright__info
					|© 2014 Нотариус города  Москвы Капитонова Татьяна Сергеевна