.header
  .wrapper
    .row
      .col-logo
        | Logo will be here
      .col-phones
        include phones
      .col-icon-text
        .text-icon icon plus text
        .text-icon icon plus text
      .col-bottom-icon-text
        .row
          .col-icon-text-b
            | icon plus text
          .col-icon-text-b
            | icon plus text