.header
  .wrapper
    .row
      .col-logo
        | Logo will be here
      .col-phones
        include phones
      .col-for-text-icon
        | text and icon
        | text and icon
      .col-for-text-icon
        | text and icon
      .col-for-text-icon
