.header
  .wrapper
    .row
      .col-tablet-1-2
        .col-phablet
          .header__logo
            | Тут буде лого
        .row.row-phablet
          .col-phablet
            .header__phones
              | Тут будуть телефони
          .col-tablet-1-2.col-phablet.col-t
            .header__text-and-icon
              | Іконка + текст
            .header__text-and-icon
              | Іконка + текст
          .col-t.col-t_bottom
            .col-tablet
              .header__text-and-icon
                | Іконка + текст
              .header__text-and-icon
                | Іконка + текс