.logo
  .logo__img
      img(src="img/logo.png")
  .logo-text
    .logo-text__bigger
      span КАПИТОНОВА  
    .logo-text__big
      span ТАТЬЯНА СЕРГЕЕВНА
    .logo-text__litle
      span НОТАРИУС ГОРОДА МОСКВЫ