.main-menu
  ul
    li
      a(href="#")
        | Главная                                                
    li
      a(href="#")
        | Нотариус 
    li
      a(href="#")
        | Тарифы
    li
      a(href="#")
        | Контакты
    li
      a(href="#")
        | Нотариальные действия
