.side-menu
  .side-menu__title
    span   
  .side-menu__content
    ul
      li  Наследственные дела  
      li  Согласие на выезд ребенка
      li  Договоры дарени
      li  Договори купли продажи недвижимости
      li  Отчуждения долей
      li  Рента
      li  Документи при регистрации в ФНС
      li  Довероность согласие