.icon-row
  .icon__icon
    .icon.icon-email
  .icon__text
    a(href="#")
      |отправить документ
.icon-row
  .icon__icon
    .icon.icon-keyboard
  .icon__text
    a(href="#")
      <span>Записаться 
    |на прием 
.icon-row
  .icon__icon
    .icon.icon-clock
  .icon__text-clock
    |пн - пт: 10:00 – 18:00;<br>  
    |сб, вс - выходные дни
.icon-row
  .icon__icon
    .icon.icon-location
  .icon__text-location
    |г. Москва,<br> 
    |улица Большая Ордынка,<br>   
    |д. 54, стр. 1