.message
  .message__icon
    img(src="img/email.png", alt="email")
  .message__text
    a(href="#")
      |отправить документ
.register
  .register__icon
    img(src="img/keyboard.png", alt="email") 
  .register__text
    a(href="#")
      <span>Записаться</span>  
    |на прием 
.schedule
  .schedule__icon
    img(src="img/watch.png", alt="email")
  .schedule__text
    .schedule__work
      |пн - пт: 10:00 – 18:00; 
    .schedule__weekends 
      |сб, вс - выходные дни
.location
  .location__icon
    img(src="img/location.png", alt="email")
  .location__text
    .location__city
      |г. Москва,
    .location__street
      |улица Большая Ордынка,
    .location__flat
      |д. 54, стр. 1 