.wrapper
    .row
        .col-tablet-1-3
            .title.title_grey
              | НЕОБХОДИМЫЕ ДОКУМЕНТЫ
            include sidemenu
        .col-tablet-2-3
            .title.title_red
              | Нотариальная контора
            include cont_text
//- .title
//-   |ПОЛЕЗНЫЕ ССЫЛКИ