doctype
html
  head
    include partials/head
  body

    include partials/header
    include partials/main-menu
    include partials/about
    include partials/main_content

    include partials/footer

